[flake8]
max-line-length = 120
extend-ignore =
    # D100 (flake8-docstrings): Missing docstring in public module
    D100,
    # D101 (flake8-docstrings): Missing docstring in public class
    D101,
    # D102 (flake8-docstrings): Missing docstring in public method
    D102,
    # D103 (flake8-docstrings): Missing docstring in public function
    D103,
    # D104 (flake8-docstrings): Missing docstring in public package
    D104,
    # D107 (flake8-docstrings): Missing docstring in __init__
    D107,
    # D205 (flake8-docstrings): 1 blank line required between summary line and description
    D202,
    # D202 (flake8-docstrings): No blank lines allowed after function docstring
    D205,
    # D212 (flake8-docstrings): Multi-line docstring summary should start at the first line
    D212,
    # D400 (flake8-docstrings): First line should end with a period
    D400,
    # D401 (flake8-docstrings): First line of docstring should be in imperative mood: "{first_line}"
    D401,
    # D415 (flake8-docstrings): First line should end with a period, question mark, or exclamation point
    D415,
    # DCO (flake8-docstrings-complete): docstrings completeness checks
    DCO,
    # T201 (flake8-print): print statement found
    T201,
    # DCO010 (flake8-docstrings-complete): docstring should be defined for a function/ method/ class
    DCO010,
    # E203 (pycodestyle): whitespace before ‘,’, ‘;’, or ‘:’
    E203,
    # E266 (pycodestyle): too many leading ‘#’ for block comment
    E266,
    # E501 (pycodestyle): line too long
    E501,
    # W503 (pycodestyle): (*) line break before binary operator
    W503,
    # T000 (flake8-todo): Todo note found
    T000